{block content}
<div class="authWrap">
	<div class="authCard">
		<div class="authHeader">
			<h1>Přihlášení</h1>
			<p>Přihlas se do systému.</p>
		</div>
		{control signInForm}
	</div>
</div>
{/block}
