{block content}
<div class="authWrap">
	<div class="authCard">
		<div class="authHeader">
			<h1>Registrace</h1>
			<p>Vytvoř si účet do knihovny.</p>
		</div>
		{control registerForm}
	</div>
</div>
{/block}
